<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<ul>
			<li>
				{# go to main page #}
				<a href="{{ path('main') }}">Home</a>
			</li>
			<li>
				{# go to /tour where you can read the tours #}
				<a href="{{ path('tour') }}">Tours</a>
			</li>
			<li>
				{#  #}
				<a href="{{ path('main') }}">Form</a>
			</li>
			<li>
				{#  #}
				<a href="{{ path('main') }}">About</a>
			</li>
			{% if app.user %}
				<li>
					{# go to tour/new create a new tour #}
					<a href="{{ path('tour_new') }}">New Tour</a>
				</li>
				<li>
					{# logout route #}
					<a href="{{ path('app_logout') }}">Logout</a>
				</li>
			{% endif %}
		</ul>
		{% block body %}{% endblock %}
	</body>
</html>
